{% extends "MainApp/base.html" %}

{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Welcome to Matt's Pizzeria!</h1>

    <p class="lead">Home of the best pizza </p>
    
</div>

{% block content %}
<style>
    body{
    background-image:url("https://t4.ftcdn.net/jpg/02/92/15/69/360_F_292156960_5C0FwgplLzkx76T5IZ0ryWNwKSzEUHtP.jpg");
    }
</style>

{% endblock content %}
{% endblock page_header %}


<!---


<a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"></a>

-->

